body {
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;

	// increase base size on larger displays
	@media screen and (min-width: $grid-float-breakpoint) {
		font-size: 16px;	
	}
}

main {
	@media screen and (max-width: $grid-float-breakpoint-max) {
		background: #F4F4F4;
	}
}

.page-header {
	@media screen and (max-width: $grid-float-breakpoint-max) {
		display: none;
	}
}

.container {
	@media (max-width: $screen-sm-max) {
	    width: auto;
	}
}

.section--separate {
	@media screen and (max-width: $grid-float-breakpoint-max) {
		margin-bottom: 0.5em;
		background: #fff;
		@include box-shadow(1px 1px 2px 0px rgba(0,0,0,0.05));	
	}
}

.main-content,
.content-section {
	background: #fff;
}

.mobile-full-width {
	@media screen and (max-width: $grid-float-breakpoint-max) {
		margin-left: -$grid-gutter-width/2;
		margin-right: -$grid-gutter-width/2;
		padding-left: $grid-gutter-width/2;
		padding-right: $grid-gutter-width/2;
	}
}

.page-actions {
	@extend .list-unstyled;
	margin: 1em 0;
	text-align: right;
	
	li {
		display: inline-block;
	}

	li + li {
		margin-left: 1.2em;
	}

	button {
		background-color: transparent;
	    border: none;
	    padding: 0;
	    margin: 0;
	    outline: none;
	    font-size: 1.3em;
	}
}
