// combine with .form-actions--fixed
.form--fixed {
	@media screen and (max-width: $grid-float-breakpoint-max) {
		padding-bottom: 7em;
	}
}

.form-col {
	width: auto;
}

.form-group:last-child {
	margin-bottom: 0;
}

.form-control {
	@include box-shadow(none);
}

.form-header {
	margin: 0 0 1em;
	color: lighten($text-color, 30%);
	font-size: 0.9em;
	font-weight: 600;
	text-transform: uppercase;
	color: lighten($text-color, 35%);
	line-height: 1.5;
}

.control-label {
	font-size: 0.95em;
	font-weight: 600;
}


.form-section {
	position: relative;
	margin-top: 0;
	padding: 20px 0;

	+ .form-section {
		border-top: 1px solid $separator-color;
	}
}

// horizontal form sections (form header placed next to form-controls)
.form-section--inline {

	@media screen and (min-width: $grid-float-breakpoint) {

		> .row {
			margin-left: 20%;
		}

		.form-header {
			position: absolute;
			top: 50%;
			max-width: 18%;
			transform: translateY(-50%);
		}
	}
}

.form-section--separate {
	@extend .mobile-full-width;
	border-bottom: 1px solid $separator-color;

	+ .form-section {
		border: 0;
	}
}

// form buttons and links (submit, cancel etc.)
.form-actions {
	margin: 2em 0 0;
	padding: 1.3em 0;
	border-top: 1px solid $separator-color;
	@extend .mobile-full-width;
	text-align: right;
	background: $body-bg;

	.btn-primary {
		padding: 0.5em 3em;
		font-size: 1.2em;
	}

	@media screen and (max-width: $grid-float-breakpoint-max) {
		.btn {
			display: block;
		}
	}
}

.form-actions--fixed {
	@media screen and (max-width: $grid-float-breakpoint-max) {
		position: fixed;
		width: 100%;
		bottom: 0;
	}
}


