///////////////////////////////////////

// list - mimics table layout

///////////////////////////////////////

// general styling 

.list {
	margin-left: $grid-gutter-width / -2;
	margin-right: $grid-gutter-width / -2;

	@media screen and (min-width: $grid-float-breakpoint) {	
		margin: 0;
	}
}

.list__header,
.list__item {
	display: table;
	width: 100%;
}

.list__header-col,
.list__col {
	display: table-cell;
	vertical-align: middle;
	padding: 10px 15px;
	border-top: 1px solid $separator-color;

	// reset bootstrap columns
	float: none;
}


///////////////////////////////////////

// header

///////////////////////////////////////

.list__header-col {

	a {
		color: $text-color;
		font-size: 0.95em;
		text-decoration: none;
	}

	// sorting 
	&[data-sort="asc"] a::after,
	&[data-sort="desc"] a::after {
		@extend .icon;
		font-size: 0.5em;
		vertical-align: middle;
	}

	&[data-sort="asc"] a::after {
		content: "\e80c";
	}

	&[data-sort="desc"] a::after {
		content: "\e80d";
	}
}

.list__col-cb {
	width: 60px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
}

// a dropdown sorting replaces the list header on smaller devices to save space
.list__sorting {
	text-align: right;

	@media screen and (min-width: $grid-float-breakpoint) {
		display: none;
	}
}

.list__sorting-label {
	color: $link-color;	
}

///////////////////////////////////////

// list item

///////////////////////////////////////

.list__item {
	@include transition(background 0.25s);
}

// last list item needs bottom border
.list__item:last-child .list__col {
	border-bottom: 1px solid $separator-color;
}

.list__item--active {
	background: $list-item-active-bg;
}

// active list items have highlighted borders
.list__item--active .list__col,
.list__item--active + .list__item .list__col,
.list__item--active:last-child .list__col {
	border-color: $separator-active-color;
}


///////////////////////////////////////

// list content

///////////////////////////////////////

// inline actions are in a overflow/dropdown menu

.list__item-actions {
	width: 25%;
	text-align: right;
	@extend .list-unstyled;

	> li {
		display: inline-block;
	}

	> li + li {
		margin-left: 10px;
	}
	
	> li > a {
		color: $text-color;
		font-size: 1.3em;

		&:hover {
			cursor: pointer;
		}
	}
}

.list__item-overflow > .dropdown-toggle {
	color: $text-color;
}

.list__item-title {
	display: block;
	line-height: 1em;
	font-weight: 600;
}

.list__item-description {
	font-size: 0.85em;
	color: $gray-light;
}

///

.list-actions {}
