///////////////////////////////////////

// list - mimics table layout

///////////////////////////////////////

// general styling 
th {
	text-align: left;
}

.list {
	margin-left: $grid-gutter-width / -2;
	margin-right: $grid-gutter-width / -2;

	@media screen and (min-width: $grid-float-breakpoint) {	
		margin: 0;
	}
}

.list table {
	width: 100%;
	max-width: 100%;
}

.list th:first-child,
.list td:first-child {
	padding-left: 15px;
}

.list th:last-child,
.list td:last-child {
	padding-right: 15px;
}


///////////////////////////////////////
// header
///////////////////////////////////////

.list th {
	font-weight: normal;

	a {
		color: $text-color;
		font-size: 0.95em;
		text-decoration: none;
	}

	// sorting 
	&[data-sort="asc"] a::after,
	&[data-sort="desc"] a::after {
		@extend .icon;
		font-size: 0.8em;
		vertical-align: middle;
		margin-left: 3px;
	}

	&[data-sort="asc"] a::after {
		content: $icon-asc;
	}

	&[data-sort="desc"] a::after {
		content: $icon-desc;
	}
}

.list th,
.list td {
	padding: 18px 8px;
	border-top: 1px solid $separator-color;
}

// fixed column widths
.list .list__cb {
	width: 50px;

	// checkboxes need a bit of extra space (20px on each side) for people with fat thumbs :)
	.cb {
		margin-left: 5px;
		margin-right: 4px; // standard padding is 2 x 8 + 4 = 20px 
	}
}

.list__printer-id {
	width: 50px;
	text-align: center;
}

// a dropdown sorting replaces the list header on smaller devices to save space
.list__sorting {
	text-align: right;

	@media screen and (min-width: $grid-float-breakpoint) {
		display: none;
	}
}

.list__sorting-label {
	color: $link-color;	
	font-weight: 600;
}

///////////////////////////////////////
// list item
///////////////////////////////////////

.list__item {
	@include transition(background 0.25s);
}

// last list item needs bottom border
.list__item:last-child td {
	border-bottom: 1px solid $separator-color;
}

.list__item--active {
	background: $list-item-active-bg;
}

// active list items have highlighted borders
.list__item--active td,
.list__item--active + .list__item td,
.list__item--active:last-child td {
	border-color: $separator-active-color;
}


///////////////////////////////////////
// list content
///////////////////////////////////////

// inline actions are in a overflow/dropdown menu

.list__item-icon {
	width: 30px;
	font-size: 1.3em;
}

.list__item-actions {
	margin: 0;
	text-align: right;
	@extend .list-unstyled;

	> li {
		display: inline-block;
	}

	> li + li {
		margin-left: 20px;
	}
	
	> li > a {
		color: $text-color;
		text-decoration: none;

		&:hover {
			cursor: pointer;
		}
	}

	i:before {
		vertical-align: middle; 
	}
}

.list__item-overflow > .dropdown-toggle {
	color: $text-color;
	font-size: 1.3em;
}

.list__item-title {
	display: block;
	line-height: 1em;
	font-weight: 600;
}

.list__item-description {
	font-size: 0.85em;
	color: $gray-light;
}
