$tab-menu-breakpoint: 350px;  // where does the text labels collapse/disappear
$tab-menu-breakpoint-max: ($tab-menu-breakpoint - 1);

// tab navigation and content
.tab-menu {
	@extend .container;

	// remove padding on small devices
	@media screen and (max-width: $grid-float-breakpoint) {
		padding: 0;
		padding: 0;
	}
}

.tab-menu > ul {
	@extend .nav;
	display: flex;
	border-bottom: 1px solid $separator-color;
	
	// use flex only on small devices (hopefully a mobile browser)
	@media screen and (min-width: $screen-sm-min) {
		display: block;
	}
}

// overriding bootstrap really sucks
.tab-menu .tab-menu__tab {
	flex: 1 1 auto;

	// set fixed tab width on larger displays
    @media screen and (min-width: $screen-sm-min) {
    	flex: none;
    	display: block;
    	width: auto;
		float: left;

		+ .tab-menu__tab {
			margin-left: .5em;
		}
    }

	> a {
		text-align: center;
		font-weight: 600;
		font-size: 0.9em;
		padding: 1.4em 0;
		color: $text-color !important;
		outline: 0;
		@include user-select(none);
		@include transition(all 0.25s);

	    @media screen and (min-width: $tab-menu-breakpoint) {
			min-height: 5em;
	    	padding: 0.8em 0;
	    }

	    @media screen and (min-width: $screen-sm-min) {
	    	min-width: 6em; // force a somewhat similar width
	    }


		&:hover {
			border: 0;
			color: $text-color;
		}
	}
}

.tab-menu__tab-label {
	@media screen and (max-width: $tab-menu-breakpoint) {
		display: none;
	}
}

.tab-menu__icon {
	display: block;
	font-size: 2rem;
	line-height: 1.1;
	color: $text-color;
	@include transition(transform 0.25s);
}

// overflow menu doesn't have text ...
.tab-menu__overflow-tab .tab-menu__icon {
	@media screen and (min-width: $tab-menu-breakpoint) {
		line-height: 2.1;
	}
}

///////////////////////////////////////

// active state

///////////////////////////////////////

// active/chosen tab - override bootstrap is always a trip
.tab-menu__tab.active > a {
	border-width: 0; // reset bootstrap borders
	@include box-shadow(inset 0 -3px 0 rgba($brand-blue,1));

	// a little nifty effect never hurt anyone
	.tab-menu__icon {
		@include translate(0, -3px);
	}
}

.tab-content {
	padding-top: 1em;
}


