---
layout: default
page-header: Printers
include: list-checkboxes
---

{%  include page-header.html %}

<div class="main-content page-actions-fixed">
	<div class="container">
		<ul class="action-list">
			<li><button><i class="icon-add"></i></button></li>
			<li><button><i class="icon-delete"></i></button></li>
			<li><button><i class="icon-search"></i></button></li>
			<li><button><i class="icon-refresh"></i></button></li>
		</ul>

		<div class="list">
			<table>
				<thead>
					<th class="list__cb">
						<div class="cb">
							<input id="checkbox-all" type="checkbox" />
							<label class="cb__label cb__label--hidden" for="checkbox-all"></label>
						</div>
					</th>
					<th class="list__printer-id hidden-xs"><a>ID</a></th>
					<th class="hidden-xs" data-sort="asc"><a>Printer name</a></th>
					<th class="hidden-xs text-center"><a>Status</a></th>
					<th class="hidden-xs"><a>Location</a></th>
					<th class="hidden-xs"></th>
					<th class="list__sorting visible-xs" colspan="3">
						<!-- sorting for small displays -->
						<div class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
								Sort by <span class="list__sorting-label">Printer name</span> <span class="caret"></span>
							</a>
							<ul class="dropdown-menu dropdown-menu-right">
								<li><a href="#">Printer name</a></li>
								<li><a href="#">Status</a></li>
								<li><a href="#">Location</a></li>
							</ul>
						</div>
					</th>
				</thead>
				<tbody>
					{% for printer in site.data.content.printers %}
						<tr class="list__item{% if printer.active %} list__item--active{% endif %}">
							<td class="list__cb">
								<div class="cb">
									<input id="checkbox-{{ forloop.index }}" type="checkbox" {% if printer.active %}checked="checked"{% endif %} />
									<label class="cb__label cb__label--hidden" for="checkbox-{{ forloop.index }}"></label>
								</div>
							</td>
							<td class="list__printer-id">
								<div class="printer-id printer-id--{{ printer.status }}">
									{{ printer.id }}
									<i class="printer-id__icon status-icon--{{ printer.status }}"></i>
								</div>
							</td>
							<td>
								<b class="list__item-title">{{ printer.title }}</b>
								{% if printer.location != "" %}<span class="list__item-description">{{ printer.location }}</span>{% endif %}
							</td>
							<td class="hidden-xs text-center">
								<div class="status-icon status-icon--{{ printer.status }}"></div>
							</td>
							<td class="hidden-xs">{{ printer.location }}</td>
							<td>
								<ul class="list__item-actions">
									<li class="list__item-overflow dropdown">
										<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
											<i class="icon-overflow-vert"></i>
										</a>
										<ul class="dropdown-menu dropdown-menu-right">
											<li><a href="#">Info</a></li>
											<li><a href="{{ site.github.url }}/templates/printers/settings">Modify</a></li>
											<li><a href="#" aria-controls="">Delete</a></li>
										</ul>
									</li>
								</ul>
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
        <div class="page-actions page-actions--fixed">
            <button type="button"
                    class="btn btn-primary"
                    ng-disabled="selectedPrinters < 1"
                    ng-show="(printerListService.list| filter: {isUnderCreation: false, isCreatedSuccessfully: true}).length > 0"
                    data-px-test="printer-list-button-modify-selected"
                    ng-click="editSelectedPrinters()">
                {{"Modify"| translate}}<span ng-show="selectedPrinters > 0">&nbsp;({{selectedPrinters}})</span>
            </button>
        </div>		
	</div>
</div>

