---
layout: default
page-header: Printer settings
page-subtitle: HP Officejet Color X555
include: list-checkboxes
---

{%  include page-header.html %}


<div class="section--separate">
	<nav class="tab-menu" role="tablist">
		<div class="container">
			<ul>
				<li class="tab-menu__tab active" role="presentation">
					<a href="#setup" aria-controls="setup" role="tab" data-toggle="tab">
						<i class="tab-menu__icon icon-gear"></i> 
						<span class="tab-menu__tab-label">
							Setup
						</span>
					</a>
				</li>
				<li class="tab-menu__tab" role="presentation">
					<a href="#history" aria-controls="history" role="tab" data-toggle="tab">
						<i class="tab-menu__icon icon-history"></i>
						<span class="tab-menu__tab-label">
							History
						</span>
					</a>
				</li>
				<li class="tab-menu__tab" role="presentation">
					<a href="#drivers" aria-controls="drivers" role="tab" data-toggle="tab">
						<i class="tab-menu__icon icon-drivers"></i> 
						<span class="tab-menu__tab-label">
							Drivers
						</span>
					</a>
				</li>
				<li class="tab-menu__tab" role="presentation">
					<a href="#dianostics" aria-controls="dianostics" role="tab" data-toggle="tab">
						<i class="tab-menu__icon icon-diagnostics"></i> 
						<span class="tab-menu__tab-label">
							Dianostics
						</span>
					</a>
				</li>
				<li class="tab-menu__tab tab-menu__overflow-tab dropdown" role="presentation">
					<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
						<i class="tab-menu__icon icon-overflow-vert"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><a href="#overflow" aria-controls="overflow" role="tab" data-toggle="tab">Overflow tab 1</a></li>
						<li><a href="#overflow" aria-controls="overflow" role="tab" data-toggle="tab">Overflow tab 2</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>
</div>

<div class="main-content">
	<form class="form--fixed">
		<div class="tab-content container">
			<!-- setup content  -->
			<div role="tabpanel" class="tab-pane active" id="setup">


				<!-- status section -->
				<fieldset class="form-section form-section--inline form-section--separate">
					<h4 class="form-header hidden-xs">
						Status
					</h4>
					<div class="row">
						<div class="form-group col-sm-6">
							<div class="cb-switch">
								<input id="switch-1" type="checkbox" checked="checked" />
								<label class="cb-switch__label" for="switch-1">
									Active
									<span class="cb-switch__icon"></span>
								</label>
							</div>
						</div>
					</div>
				</fieldset>


				<!-- name section -->
				<fieldset class="form-section form-section--inline">
					<h4 class="form-header hidden-xs">
						Name
					</h4>
					<div class="row">
						<div class="form-group col-sm-6">
							<label class="control-label" for="">Printer name</label>
							<div class="input-group">
								<input type="text" class="form-control text-lg text-semi" value="HP Officejet Color X555" />
							</div>
						</div>
					</div>
				</fieldset>


				<!-- location section -->
				<fieldset class="form-section form-section--inline">
					<h4 class="form-header hidden-xs">
						Location
					</h4>
					<div class="row">
						<div class="form-group col-sm-6">
							<label class="control-label" for="">Location description</label>
							<div class="input-group">
								<input type="text" class="form-control text-lg text-semi" value="HP Officejet Color X555" />
							</div>
						</div>
						<div class="form-group col-sm-12">
							<div class="cb-switch">
								<input id="cb-switch-4" type="checkbox" />
								<label class="cb-switch__label" for="cb-switch-4">
									Enable geolocation
									<span class="cb-switch__icon"></span>
								</label>
							</div>
						</div>
					</div>
				</fieldset>


				<!-- options section -->
				<fieldset class="form-section form-section--inline">
					<h4 class="form-header">
						Options
					</h4>
					<div class="row">
						<div class="form-group col-sm-12">
							<div class="cb-switch">
								<input id="switch-2" type="checkbox" checked="checked" />
								<label class="cb-switch__label" for="switch-2">
									Print in black by default
									<span class="cb-switch__icon"></span>
								</label>
							</div>
						</div>

						<div class="form-group col-sm-12">
							<div class="cb-switch">
								<input id="cb-switch-3" type="checkbox" />
								<label class="cb-switch__label" for="cb-switch-3">
									Print 2-sided by default
									<span class="cb-switch__icon"></span>
								</label>
							</div>
						</div>

						<div class="form-group col-sm-12">
							<div class="cb-switch">
								<input id="cb-switch-5" type="checkbox" />
								<label class="cb-switch__label" for="cb-switch-5">
									Auto-add printer for everyone
									<span class="cb-switch__icon"></span>
								</label>
							</div>
						</div>
					</div>
				</fieldset>

				<!-- network section -->
				<fieldset class="form-section form-section--inline">
					<h4 class="form-header">
						Network
					</h4>

					<div class="row">
						<div class="form-group col-xs-6 col-sm-3">Model</div>
						<div class="form-group col-xs-6 col-sm-9">HP Officejet Color X555 </div>
					</div>
					<div class="row">
						<div class="form-group col-xs-6 col-sm-3">MAC address</div>
						<div class="form-group col-xs-6 col-sm-9">F0921C637CA2</div>
					</div>
					<div class="row">
						<div class="form-group col-xs-6 col-sm-3">Printer address</div>
						<div class="form-group col-xs-6 col-sm-9"><a href="#">npi637ca2</a></div>
					</div>
				</fieldset>
			</div>


			<!-- history content -->
			<div role="tabpanel" class="tab-pane" id="history">
				History
			</div>


			<!-- //////////////////////////////////////////////////////

				drivers content 
			
			/////////////////////////////////////////////////////// -->

			<div role="tabpanel" class="tab-pane" id="drivers">
				
				<div class="list">
					<table>
						<tbody>
							{% for driver in site.data.content.drivers %}	
								<tr>
									<td class="list__item-icon">
										<i class="icon-{{ driver.os }}"></i>
									</td>
									<td>
										<b class="list__item-title">{{ driver.title }}</b>
										<span class="list__item-description">{{ driver.printer }}</span>
									</td>
									<td>
										<ul class="list__item-actions">
										{% if driver.locked %}
											<li>
												<i class="icon-lock"></i>
											</li>
										{% endif %}
											<li class="list__item-overflow dropdown">
												<a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
													<i class="icon-overflow-vert"></i>
												</a>
												<ul class="dropdown-menu dropdown-menu-right">
													<li><a href="#">Modify</a></li>
													<li><a href="#">{% if driver.locked %}Unlock{% else %}Lock{% endif %} driver</a></li>
												</ul>
											</li>
										</ul>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<!-- dianostics content -->
			<div role="tabpanel" class="tab-pane" id="dianostics">
				Dianostics
			</div>

			<!-- test content -->
			<div role="tabpanel" class="tab-pane" id="overflow">
				Overflow content
			</div>
			
			<fieldset class="form-actions form-actions--fixed">
				<a class="btn btn-primary">Save changes</a>
			</fieldset>
		</div>

	</form>
</div>

